@model My_Journal.Usuario

@{
    ViewData["Title"] = "Delete";
}
<link href="/theme-assets/css/app-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap-extended.css" rel="stylesheet" />
<link href="/theme-assets/css/colors.css" rel="stylesheet" />
<link href="/theme-assets/css/components-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/core/colors/palette-gradient.css" rel="stylesheet" />
<link href="/theme-assets/css/pages/dashboard-ecommerce.css" rel="stylesheet" />
<link href="/theme-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
<link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/60f66db414.js" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<h4 class="mt-5 theme-color mb-5">Registro eliminado exitosamente!</h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdUsuario" />
    <input type="submit" value="Regresar" class="btn btn-success" />
</form>


